@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "تأكيد التسجيل";
}

<h1>@ViewData["Title"]</h1>
@{
    if (@Model.DisplayConfirmAccountLink)
    {
<p>
    لا يوجد حالياً مرسل بريد إلكتروني فعلي مهيأ لهذا التطبيق. يمكنك مراجعة <a href="https://aka.ms/aspaccountconf">هذا الدليل</a> لمعرفة كيفية إعداد خدمة إرسال بريد إلكتروني.
    عادةً سيتم إرسال هذا الرابط إلى بريدك الإلكتروني: <a id="confirm-link" href="@Model.EmailConfirmationUrl">اضغط هنا لتأكيد حسابك</a>
</p>
    }
    else
    {
<p>
        يرجى التحقق من بريدك الإلكتروني لتأكيد حسابك.
</p>
    }
}
