<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="local-global-packages" value="C:\Users\pc_1\.nuget\packages" />
    <add key="vs-offline" value="C:\Program Files (x86)\Microsoft SDKs\NuGetPackages" />
  </packageSources>
  <config>
    <add key="signatureValidationMode" value="accept" />
  </config>
</configuration>
